// FOOTER NAVIGATION
// ------------------------------------
.ra-footnav {
  z-index: 40;
  position: relative;
  
  .container {
    padding: calc(var(--spacer) * 6) 0;
  }

  .module-title {
    color: var(--white);
    font-size: var(--h4-font-size);
    font-weight: 600;
    margin: 0 0 var(--spacer);
  }

  .navbar {
    padding: 0;
  }

  .mod-menu {
    padding: 0;

    > li {
      margin-bottom: calc(var(--spacer) / 2);
    }
  }
}


// FOOTER
// ------------------------------------
.ra-footer {
  .container {
    border-top: 1px solid #1F2937;
    padding: calc(var(--spacer) * 2) 0;
  }

  .social-links {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin-left: 8px;
    }

    a {
      background-color: #1F2937;
      border-radius: 8px;
      display: block;
      font-size: 12px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      width: 32px;
    }
  }
}
