// Header
.ra-header {
  padding: calc(var(--spacer) * 2) 0;
  position: relative;
  z-index: 300;

  .ra-mainnav {
    .navbar {
      padding: 0;
    }

    .nav {
      display: flex;
      align-items: center;
      flex-direction: row;

      > li {
        padding: 0 var(--spacer);
      }

      a {
        color: #262626;
        font-weight: 600;
      }
    }
  }
}