<!-- HEADER BLOCK -->
<header class="header-block header-block-3">
  <div class="header-wrap">
  	<div class="container-fluid d-flex align-items-center justify-content-center py-3 border-bottom collapse-space-between collapse-border-0">
    	<jdoc:include type="element" name="logo" />

    	<div class="t4-nav-toggle t4-header-r collapse-flex">
	    	<jdoc:include type="element" name="offcanvas-toggle" />
	    	<jdoc:include type="element" name="megamenu-toggle" />
	    </div>
    </div>

    <div class="t4-navbar t4-nav-height-sm d-flex justify-content-center">
      <jdoc:include type="element" name="megamenu" />
    </div>
  </div>
</header>
<!-- // HEADER BLOCK -->