<!-- HEADER BLOCK -->
<header class="header-block header-block-2">
  <div class="container-xxl">
    <div class="header-wrap d-flex align-items-center justify-content-between collapse-static">
      <jdoc:include type="element" name="logo" data-home="index.php" />

      <div class="t4-navbar mx-auto collapse-static">
        <jdoc:include type="element" name="megamenu" />
      </div>

      <div class="t4-header-r d-flex align-items-center">
        <jdoc:include type="modules" name="header-r" style="raw" />
        <jdoc:include type="element" name="megamenu-toggle" />
        <jdoc:include type="element" name="offcanvas-toggle" />
      </div>
    </div>
  </div>
</header>
<!-- // HEADER BLOCK -->  