<!-- HEADER BLOCK -->
<header class="header-block header-block-1 py-3">
  <div class="container-lg">
    <div class="header-wrap d-flex align-items-center justify-content-between">
      <jdoc:include type="element" name="logo" />

      <div class="t4-header-r d-flex align-items-center">
        <jdoc:include type="modules" name="header-r" style="raw" />
        <jdoc:include type="element" name="megamenu-toggle" />
        <jdoc:include type="element" name="offcanvas-toggle" />
      </div>
    </div>
  </div>
</header>
<!-- // HEADER BLOCK -->

<!-- MAIN NAVIGATION -->
<nav class="t4-nav-height-sm mainnav nav-align-left border-top border-bottom w-100 collapse-static">
  <div class="container-lg collapse-static">
    <jdoc:include type="element" name="megamenu" />
  </div>
</nav>
<!-- // MAIN NAVIGATION -->