<!-- HEADER BLOCK -->
<header class="header-block header-block-4">
  <div class="header-wrap">
    <div class="header-top border-bottom bg-light">
      <div class="container d-flex align-items-center py-3">
        <jdoc:include type="element" name="logo" />

        <div class="t4-header-r d-flex align-items-center ms-auto">
          <jdoc:include type="modules" name="header-r" style="raw" />
        </div>
      </div>
    </div>

    <div class="header-bottom t4-heaer-height d-flex align-items-center">
      <div class="container d-flex justify-content-between align-items-center">
        <!-- MAIN NAVIGATION -->
        <nav class="mainnav nav-align-left w-100 collapse-static">
          <div class="collapse-static d-flex align-items-center">
            <jdoc:include type="element" name="megamenu" />

            <div class="t4-nav-toggle d-flex ms-auto">
              <jdoc:include type="element" name="megamenu-toggle" />
              <jdoc:include type="element" name="offcanvas-toggle" />
            </div>
          </div>
        </nav>
        <!-- // MAIN NAVIGATION -->

        <div class="t4-header-r">
          <jdoc:include type="modules" name="header-search" style="raw" />
        </div>
      </div>
    </div>
  </div>
</header>
<!-- // HEADER BLOCK -->

